*{
    margin: 0;
    padding: 0;
        font-family: "League Spartan";
}

body{
    background-color: hsl(222, 26%, 31%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: hsl(0, 100%, 100%);
}

.main-body{
    width: 35%;
}

.space-btw{
    display: flex;
    justify-content: space-between;
}

.top-area h3{
    font-weight: 700;
    font-size: 20px;
}

.output{
    background-color: hsl(224, 36%, 15%);
    text-align: right;
    border-radius: 10px;
    padding: 2vw 2.5vw;
    font-size: 2vw;
    margin: 30px 0;
}

.number-display{
    background-color: hsl(223, 31%, 20%);
    border-radius: 10px;
    padding: 2.5vw;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.numbers{
    display: grid;
    gap: 4vh;
    grid-template-columns: 20% 20% 20% 60%;
    justify-content: space-between;
}

.numbers button{
    width: 80px;
    height: 8.5vh;
    font-size: 32px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
}
.reset{
    display: flex;
    justify-content: space-between;
}
.reset button{
    height: 8vh;
    width: 14.5vw;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 700;
}

.backgroundcolor1{
    color: hsl(224, 28%, 35%);
    background-color: hsl(0, 0%, 90%);
}
.backgroundcolor2{
    color: hsl(0, 100%, 100%);
    background-color: hsl(225, 21%, 49%);
}
.backgroundcolor2 button{
        font-size: 10px;
        font-weight: 600;
}
.backgroundcolor3{
    color: hsl(0, 100%, 100%);
    background-color: hsl(6, 63%, 50%);
}